body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #666;
}

p {
    color: #999;
}

.rapper {
    margin-bottom: 20px;
    overflow: auto;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.rapper:hover {
    transform: scale(1.1);
}

.rapper img {
    max-width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    width: 100%;
}


.voting-container {
    text-align: center;
    margin-top: 50px;
}

.vote-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.vote-count {
    margin-top: 20px;
    font-size: 20px;
}